{% extends "main/base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/style_authorization.css' %}">
</head>
<div class="login-page">
  <div class="login-form-container">
    <div class="login-form">
      <h2>Регистрация</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.email }}
        {{ form.password }}
        {{ form.password2 }}
        {{ form.captcha }}
        <button type="submit">Зарегистрироваться</button>
      </form>
      <div class="register-link">
        Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
      </div>
    </div>
  </div>
  <div class="login-image-container">
    <img src="{% static 'img/login.jpg' %}" alt="Login Image">
  </div>
</div>


{% endblock %}
