{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/style_statistics_demand_geo_skills.css' %}">
</head>
  <div class="page-header">
    <h1>{{ stats.title }}</h1>
    <p>{{ stats.description }}</p>
    <p>{{ stats.under_1 }}</p>
    <p>{{ stats.under_2 }}</p>
    <p>{{ stats.under_3 }}</p>
    <p>{{ stats.under_4 }}</p>
    <p>{{ stats.under_5 }}</p>
    <p>{{ stats.ending }}</p>
  </div>

  <div class="carousel-container">
    <button class="carousel-arrow arrow-left" aria-label="Previous">&#10094;</button>
    <div class="carousel-wrapper" id="carouselWrapperCharts">

      <div class="carousel-slide">
        <a href="{% url 'download_csv' stats.salary_dynamics_csv.name|cut:'csv/' %}">
          <img src="{{ stats.salary_dynamics.url }}" alt="График: Динамика уровня зарплат">
        </a>
      </div>

      <div class="carousel-slide">
        <a href="{% url 'download_csv' stats.vacancies_dynamics_csv.name|cut:'csv/' %}">
          <img src="{{ stats.vacancies_dynamics.url }}" alt="График: Динамика количества вакансий">
        </a>
      </div>

      <div class="carousel-slide">
        <a href="{% url 'download_csv' stats.salary_by_city_csv.name|cut:'csv/' %}">
          <img src="{{ stats.salary_by_city.url }}" alt="График: Уровень зарплат по городам">
        </a>
      </div>

      <div class="carousel-slide">
        <a href="{% url 'download_csv' stats.vacancies_share_by_city_csv.name|cut:'csv/' %}">
          <img src="{{ stats.vacancies_share_by_city.url }}" alt="График: Доля вакансий по городам">
        </a>
      </div>

      <div class="carousel-slide">
        <a href="{% url 'download_csv' stats.top_skills_csv.name|cut:'csv/' %}">
          <img src="{{ stats.top_skills.url }}" alt="График: ТОП-20 навыков">
        </a>
      </div>

    </div>
    <button class="carousel-arrow arrow-right" aria-label="Next">&#10095;</button>
  </div>

  <div class="carousel-container">
    <button class="carousel-arrow arrow-left" aria-label="Previous">&#10094;</button>
    <div class="carousel-wrapper" id="carouselWrapperTables">

      {% for table in tables %}
        <div class="carousel-slide">
          <div class="table-section">
            <h3>{{ table.title }}</h3>
            {{ table.html|safe }}
          </div>
        </div>
      {% endfor %}

    </div>
    <button class="carousel-arrow arrow-right" aria-label="Next">&#10095;</button>
  </div>


  {% block scripts %}
    <script src="{% static 'js/carousel.js' %}"></script>
  {% endblock %}
{% endblock %}